@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
@import "./core/variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $Cream;
  padding: 2em 1em;
  width: 100%;
}