:root{
--Dark-green: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%) ; 
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
 
--fontMontserrat: "Montserrat", sans-serif;
--fontFraunces: "Fraunces", sans-serif;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    padding: 2em 1em;
}

main{
  width: 100%;
  background-color: var(--White);
}
 .main__card{
  width: 100%;
 
 }

 .main__image{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
 
 }
 .main__image--desktop{
display: none;
 }
 
 .main__category {
  margin-left: 20px;
  font-family: var(--fontMontserrat);
  font-size: small;
  letter-spacing: 0.5em;
  color: var(--Dark-grayish-blue);
  margin-bottom: 15px;
  
 }
.main__tittle{
  margin-left: 20px;
  font-family: var(--fontFraunces);
  margin-bottom: 15px;
}
.main__paragraph{
  margin: 20px;
  font-family: var(--fontMontserrat);
  font-size: small;
  color: var(--Dark-grayish-blue);
  line-height: 25px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.main__prices{
  margin-left: 20px;
  margin-bottom: 20px;
}
.main__price{
  font-family: var(--fontFraunces);
  font-size: 30px;
  color: var(--Dark-green);
  margin-right: 30px ;
}
.main__oldPrice{
  font-family: var(--fontFraunces);
  font-weight: lighter;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}

.main__add{
text-align: center;
}
.main__button{
  background-color: var(--Dark-green);
  color: var(--White);
  border: none;
  width: 90%;
  height: 40px;
  font-family: var(--fontMontserrat);
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.main__button--image{
  margin-right: 10px;
}

@media (min-width: 768px) {

body{
  width: 100%;
  margin: auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  width: 650px;

  }
.main__card{
  display: flex;
}
.main__image{
  display: none;
}
.main__image--desktop{
  display:flex;
  height: 500px;
   }
.main__category{
  margin-top: 40px;
}

.main__prices{
  margin-bottom: 50px;
}
.attribution{
  margin-top: 40px;
  align-items: center;
  text-align: center;
}
}



